*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

.logo{
    margin-top: 20px;
}
.signin-container{
    max-width: 350px;
    border: 1px solid #d2d2d2;
    margin: auto;
    margin-top: 20px;
    padding: 20px 26px;
    border-radius: 8px;
    text-align: left;
}
.signin-title{
    font-size: 28px;
    font-weight: 400;
}
.input-label{
    margin-top: 20px;
}
.signin-container input{
    width: 100%;
    height: 32px;
    margin-top: 5px;
    padding: 3px 7px;
    border-radius: 3px;
    border: 1px solid #a0a0a0;
    font-size: 12px;
}
.signin-container input:focus{
    outline: 3px solid #c2f2ff;
}
.signin-container button{
    width: 100%;
    height: 32px;
    margin: 15px 0;
    background-color: #ffd814;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.signin-container button:hover{
    background-color: #ebc712;
}
.signin-condition{
    font-size: 12px;
    line-height: 15px;
}
.signin-container p span{
    color: #0066c0;
}
.signin-help{
    font-size: 13px;
    margin: 20px 0;
}
.signin-container hr{
    border: none;
    height: 1px;
    background: #d4d4d4;
}
.signin-container h4{
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 13px;
}
.signin-business{
    font-size: 13px;
}

.signin-bottom{
    max-width: 350px;
    font-size: 12px;
    color: #737373;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}
.signin-bottom hr{
    border: none;
    height: 1px;
    background-color: #d4d4d4;
    width: 110px;
}
.create-account-btn{
    width: 350px;
    height: 30px;
    font-size: 13px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #c3c3c3;
    cursor: pointer;
}
.create-account-btn:hover{
    background-color: #f1f1f1;
}
footer{
    width: 100%;
    height: auto;
    max-height: 200px;
    margin-top: 20px;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    background: linear-gradient(to bottom , #f4f4f4, white); 
    border-radius: 2px solid #ededed;
    font-size: 12px;
}
footer .footer-links{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 17px;
}
footer .footer-links a{
    text-decoration: none;
    color: #0066c0;
}
